<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="home-component">
                <h1 class="text-center">Pizza Galaxy</h1>
                <div class="mission text-center">
                    <h3>"Where all your pizza dreams come true!"</h3>
                    <p>Are you hungry?   Are you ready to taste the best pizza in the galaxy??</p>
                    <p>Come on down to Pizza Galaxy where it's always pizza time!</p>
                    <p>The best ingredients, always fresh, made to order exactly how you like it.</p>
                    <p>We're light years ahead of the competition <span class="fw-bold">&#8482;</span></p>
                    <h4><button class="btn btn-success btn-order" [routerLink]="['/create']">ORDER NOW</button></h4>
                </div>
            </div>
        </div>
    </div>
</div>
